node_modules
dist
dist-ssr
*.local
.DS_Store
/.vscode/tasks.json
/.vscode/launch.json
/.idea
.tags1
docs/.vitepress/cache
.env
my-comps-docs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
*.local
*.zip
*.rar
#忽略自动生成的文件
report
typings/auto/*.d.ts

